.description-title {
    text-align: center;
}

.description {
    max-width: 75%;
    margin: 0 auto;
}

.media-container {
    display: flex;
    justify-content: space-around;
    max-width: 75%;
    margin: 0 auto;
}

.video {
    max-width: 560px;
    height: 315px;
}
