.bio {
    flex: 1;
    margin: 0 24px 24px 24px;
    min-width: 250px;
}

.description {
    max-width: 75%;
    margin: 0 auto;
}

.description-title {
    text-align: center;
}

.logo {
    border-radius: 50%;
}

.logo-container{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 24px 0;
}

.media-container {
    display: flex;
    justify-content: space-around;
    max-width: 75%;
    margin: 0 auto;
}

.video {
    max-width: 560px;
    height: 315px;
}
